<!DOCTYPE html>
<html>
<head>
    <title>Movies Sentiment Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>
<body>
    <div class="container">
        <h1>Sentiment Analysis</h1>
        <h4>Generally, reviews are quite long</h4>
        <form action="/predict" method="post">
            <textarea name="review" placeholder="Enter your review here..." required></textarea>
            <button type="submit">Analyze</button>
        </form>
    </div>
</body>
</html>
